Books Show
<%= render 'layouts/user_info',book: @new_book ,user: @user %>
Book detail

    <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
     <%= link_to @user.name, user_path(@user) %></td>

<td><%= @book.title %></td>


<td><%= @book.body %></td>
	<%if current_user.id == @user.id %>
    <td><%= link_to "Edit", edit_book_path(@book) , class: "btn-sm btn-success" %></td>
    <td><%= link_to "Destroy",book_path(@book.id),class: "btn-sm btn-danger" ,method: :delete,data: { confirm: "Are you sure?"}%></td>
  </tr>
<% end %>
